<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Admin Login</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1> Welcome Home </h1>
<div class="container">
<table class="table">
    <thead>
    <tr>
      <th scope="col">AwayTeam</th>
      <th scope="col"> vs </th>
      <th scope="col">HomeTeam</th>
      <th scope="col">AwayScore</th>
      <th scope="col"> - </th>
      <th scope="col">HomeScore</th>
    </tr>
  </thead>
    	<tr th:each="scoreDetail,iterStat : ${scoreDetails}" >
     		<td th:text="${scoreDetail.get('awayTeam')}"> 
     		<td th:text="${'vs'}" > </td>
     		<td th:text="${scoreDetail.get('homeTeam')}" >  
     		<td th:text="${scoreDetail.get('awayScore')}" >
     		<td th:text="${'-'}" > </td>
     		<td th:text="${scoreDetail.get('homeScore')}" >
  		</tr>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
